@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800;400&display=swap');

.upload-section {
    width: 50%;
    height: 18rem;
    margin: 0 auto;
    text-align: center;
    border: 2px;
    border-style: dashed;
    border-color: white;
    border-radius: 36px;
    margin-top: 80px;
    position: relative;
}

.heading-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}

.heading-text h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    margin-top: 2rem;
    font-family: "Poppins";
}

.free {
    color: #81E8FF;
    position: relative;
}

.circle1 {
    position: absolute;
    top: -150px;
    left: -160px;
}

.circle2 {
    position: absolute;
    top: 140px;
    right: -160px;
}

.line {
    position: absolute;
    top: 42px;
    left: 0;
}

.upload-button {
    margin-top: 80px;
}

.upload-button p {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgb(174, 174, 174);
    font-family: "Poppins";
}

.upload-btn {
    display: flex;
    margin: 0 auto;
    gap: 1rem;
    background-color: #4277FF;
    border: none;
    border-radius: 100px;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: white;
    font-weight: 800;
    font-family: "Poppins";
    font-size: 2rem;
    cursor: pointer;
}