@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

.predict-button {
    text-align: center;
    margin-top: 70px;
}

.predict-button-button {
    background-color: #5142FF;
    border: none;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 100px;
    color: white;
    font-weight: 800;
    font-family: "Poppins";
    font-size: 2.4rem;
    cursor: pointer;
    transition: transform 0.5s;
}

.predict-button-button:hover {
    transform: scale(1.08) perspective(1px);
}

.detected {
    font-size: 2.4rem;
    font-weight: 800;
    font-family: "Poppins";
    color: #ff1c1c;
    margin-top: 50px;
}

.no-detected {
    font-size: 2.4rem;
    font-weight: 800;
    font-family: "Poppins";
    color: #32ff09;
    margin-top: 50px;
}